# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

1. SQUID GAME
2. THE BIG BANG THEORY
3. YOU
4. OZARK
5. THE SIMPSONS
6. ONLY MURDERS IN THE BUILDING
7. THE HAUNTING OF HILL HOUSE
8. BRIDGERTON
9. HOW I MET YOUR MOTHER
10. BREAKING BAD

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [8]:
import sqlite3 as sl
import pandas as pd

df=pd.read_csv(r"C:\Users\holly\Desktop\DAExercises\SQL\Studio17_databases-and-py\tv_shows.csv")
df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [9]:
df=df.drop(columns=['Unnamed: 0'], axis=1)

In [10]:
df.rename(columns={'Rotten Tomatoes':'Rotten_Tomatoes', 'Prime Video': 'Prime_Video', 'Disney+': 'Disney'}, inplace=True)

df.head(10)

,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney,Type
0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten_Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime_Video      5368 non-null   int64
 9   Disney           5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

In [12]:
df.columns

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix',
       'Hulu', 'Prime_Video', 'Disney', 'Type'],
      dtype='object')

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [15]:
con.execute ('DROP TABLE shows')

In [14]:
con = sl.connect('tv.db')

With your new table and database set up, print out the top 20 records in the `shows` table.

In [16]:
df.to_sql('shows', con)

5368

In [17]:
with con:
   data=con.execute('SELECT * FROM shows LIMIT 20') 
   for row in data:
       print (row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

In [18]:
pd.read_sql_query('SELECT * FROM shows LIMIT 20', con)

,index,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now add a table that includes an id number and the titles on your watchlist.

In [19]:
con.execute('DROP TABLE watchlist')

In [20]:
with con:
    con.execute("""
        CREATE TABLE watchlist (
            ID INT,
            Title TEXT
        );
    """)

In [21]:
sql = 'INSERT INTO watchlist (ID, Title) values(?,?)'
data = [(1, 'SQUID GAME'),
   (2, 'THE BIG BANG THEORY'),
  (3, 'YOU'),
  (4, 'OZARK'),
 (5, 'THE SIMPSONS'),
 (6, 'ONLY MURDERS IN THE BUILDING'),
 (7, 'THE HAUNTING OF HILL HOUSE'),
 (8, 'BRIDGERTON'),
 (9, 'HOW I MET YOUR MOTHER'),
 (10, 'BREAKING BAD')]


with con:
    con.executemany(sql, data)

In [22]:
pd.read_sql_query('SELECT * FROM watchlist', con)

   ID                         Title
0   1                    SQUID GAME
1   2           THE BIG BANG THEORY
2   3                           YOU
3   4                         OZARK
4   5                  THE SIMPSONS
5   6  ONLY MURDERS IN THE BUILDING
6   7    THE HAUNTING OF HILL HOUSE
7   8                    BRIDGERTON
8   9         HOW I MET YOUR MOTHER
9  10                  BREAKING BAD

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [23]:
cols=['Netflix', 'Hulu', 'Prime_Video', 'Disney']
df[cols].sum()

Netflix        1971
Hulu           1621
Prime_Video    1831
Disney          351
dtype: int64

In [24]:
show_mean=df[cols].mean().round(4)

show_mean

Netflix        0.3672
Hulu           0.3020
Prime_Video    0.3411
Disney         0.0654
dtype: float64

In [25]:
show_mean*100

Netflix        36.72
Hulu           30.20
Prime_Video    34.11
Disney          6.54
dtype: float64

1. Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data.

2. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. 

3. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [26]:
watch_shows = pd.read_sql('''
    SELECT w.ID, w.Title, s.Year, s.Age, s.IMDb, s.Rotten_Tomatoes, s.Netflix, s.Hulu, s.Prime_Video, s.Disney, s.Type
    FROM watchlist w LEFT JOIN shows s ON UPPER(w.Title) = UPPER(s.Title)
''', con)

watch_shows

,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney,Type
0,1,SQUID GAME,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN
1,2,THE BIG BANG THEORY,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN
2,3,YOU,2018.0,18+,7.7/10,85/100,1.0,0.0,0.0,0.0,1.0
3,4,OZARK,2017.0,18+,8.4/10,89/100,1.0,0.0,0.0,0.0,1.0
4,5,THE SIMPSONS,1989.0,7+,8.6/10,91/100,0.0,1.0,0.0,1.0,1.0
5,6,ONLY MURDERS IN THE BUILDING,NaN,None,None,None,NaN,NaN,NaN,NaN,NaN
6,7,THE HAUNTING OF HILL HOUSE,2018.0,18+,8.6/10,82/100,1.0,0.0,0.0,0.0,1.0
7,8,BRIDGERTON,2020.0,None,7.3/10,79/100,1.0,0.0,0.0,0.0,1.0
8,9,HOW I MET YOUR MOTHER,2005.0,16+,8.3/10,90/100,0.0,1.0,1.0,0.0,1.0
9,10,BREAKING BAD,2008.0,18+,9.4/10,100/100,1.0,0.0,0.0,0.0,1.0

In [27]:
not_in_list = pd.read_sql('''
    SELECT w.ID, w.Title FROM watchlist w LEFT JOIN shows s ON UPPER(w.Title) = UPPER(s.Title) 
    WHERE s.Year IS NULL
''', con)

not_in_list

   ID                         Title
0   1                    SQUID GAME
1   2           THE BIG BANG THEORY
2   6  ONLY MURDERS IN THE BUILDING

**<mark>Find the percentage of watchlist shows on each service</mark>**

In [28]:
watch_shows[cols].sum()/watch_shows[cols].count()

Netflix        0.714286
Hulu           0.285714
Prime_Video    0.142857
Disney         0.142857
dtype: float64

In [30]:
watch_shows[cols].mean().round(4)

Netflix        0.7143
Hulu           0.2857
Prime_Video    0.1429
Disney         0.1429
dtype: float64

In [29]:
watch_shows[cols].sum()

Netflix        5.0
Hulu           2.0
Prime_Video    1.0
Disney         1.0
dtype: float64

no need for varchar ect.

  

Text

Int

Real (for float)

Boolean

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?